In [157]:
import pandas as pd
import numpy as np

In [158]:
df=pd.read_csv('Merged_Data.csv')

In [166]:
df

,JobID,Job_Designation,Involvement,Experince_level,Hr_name,Skills,CompanyName,Company_estab_year,AgeOfCompany,Industry,Location,employees_count,Job_url
0,238770,Product Owner,Technical Management → Product Manageme,Mid Senior Level,Siddhartha S,"Product Management, Agile, Data Analysis, Stak...",AGCO Corporation,1990,33,Agriculture / Dairy,Bangalore,1000,https://www.instahyre.com/job-238770-product-o...
1,232279,Sales Associate,Sales and Business → Sales / Business Developme,Junior Level,Pratiksha Yaduwanshi,"Business Development, Corporate Sales, Sales",Digicides,2017,6,Agriculture / Dairy,"Hyderabad, Pune",30,https://www.instahyre.com/job-232279-sales-ass...
2,258174,CRM & Digital Marketing Specialist,Sales and Business → General Management / Stra...,Intermediate Level,Ankit Garg,"Brand Management, Business Development, Corpor...",Kern Seedtech,2021,2,Agriculture / Dairy,Work From Home,30,https://www.instahyre.com/job-258174-crm-digit...
3,220759,Training Consultant,Sales and Business → Sales / Business Developme,Junior Level,Deepak Mahajan,"Direct Sales, Telecalling",Blue Ocean Academy,1988,35,Airlines / Aviation / Aerospace,Delhi,30,https://www.instahyre.com/job-220759-training-...
4,241862,Business Development Manager,Sales and Business → Sales / Business Developme,Intermediate Level,Aparna Chaphekar,"Business Development, Sales",SugarBox Networks,2016,7,Airlines / Aviation / Aerospace,Mumbai,350,https://www.instahyre.com/job-241862-business-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,253839,Progress Partner - Business Coach,Operations → Operations Manageme,Mid Senior Level,Abhishek S Thalanki,"Logistics Management, Operations Management, P...",Quantum Leap Learning Solutions,2006,17,Wellness / Fitness / Sports,Bangalore,125,https://www.instahyre.com/job-253839-progress-...
614,264123,Content Writer,Marketing → Content Writing,Intermediate Level,Bhanu R,Content Writing,Sri Sri Tattva Panchakarma,2017,6,Wellness / Fitness / Sports,Bangalore,125,https://www.instahyre.com/job-264123-content-w...
615,234706,Sports Copywriter,Marketing → Content Writing,Junior Level,Farzana Q,Content Writing,Story Digital,2017,6,Wellness / Fitness / Sports,Delhi,30,https://www.instahyre.com/job-234706-sports-co...
616,222777,Executive Assistant,Operations → Operations Manageme,Junior Level,Kiyah Singh,"Operations Management, Process Improvement, Ve...",Tavastha Ayurveda,2020,3,Wellness / Fitness / Sports,Bhopal,30,https://www.instahyre.com/job-222777-executive...
617,226941,Business Development Executive - Sales (Tamil),Sales and Business → Sales / Business Developme,Junior Level,Neha Pandey,"Business Development, Corporate Sales, Interna...",Zoetic BPO Services,2019,4,Wholesale,Noida,30,https://www.instahyre.com/job-226941-business-...

In [167]:
# grouping Industry based on JobID.	AgeOfCompany, employees_count columns

df.groupby('Industry').agg({'JobID':'count', 'AgeOfCompany':'median', 'employees_count':'median'}).sort_values(by='JobID', ascending=False)

                                         JobID  AgeOfCompany  employees_count
Industry
Computer Software / IT / Internet          177           8.0            125.0
Banking / Financial / Insurance             68           6.5            125.0
Education / Training                        51           7.0            125.0
Marketing / Advertising                     35           8.0            125.0
BPO / Outsourcing                           32           7.0            125.0
Real Estate / Property                      29           9.0            125.0
Hospitality / Travel                        23           8.0            125.0
Healthcare / Hospitals                      19           5.0             30.0
Computer Hardware / Networking              13           8.0             30.0
Retail                                      13           8.0            125.0
Media / Entertainment                       13           8.0             30.0
Management Consulting                       11          11.0            125.0
Telecommunications                          11          16.0            350.0
Automotive                                  10           7.0            350.0
Consumer Goods / FMCG                       10           6.5            125.0
Human Resources / Staffing / Recruiting      9           7.0             30.0
Freight / Logistics / Transportation         8           6.0             30.0
Apparel / Fashion                            7           7.0             30.0
Food / Beverages                             6           3.5             30.0
Market Research / Analytics                  6          20.5            675.0
Events Services                              5          16.0             30.0
Pharma / Biotech                             5          12.0             30.0
Construction / Civil Engineering             5          25.0            750.0
Legal                                        4           6.5             30.0
Wellness / Fitness / Sports                  4           6.0             77.5
Cosmetics / Beauty                           4           4.5             77.5
Medical Devices                              3           4.0             30.0
Agriculture / Dairy                          3           6.0             30.0
Airlines / Aviation / Aerospace              3           7.0            125.0
Furniture                                    3           9.0            125.0
Architecture / Interior Design               3           5.0            125.0
Luxury Goods / Jewellery                     2          11.0            550.0
Public Relations                             2          13.5            237.5
Animation / Graphic / Design                 2           8.5            125.0
Glass / Ceramics                             2          16.0            515.0
Nonprofit / Social Services                  2           5.5             77.5
Security / Law Enforcement                   2           5.5             30.0
Electricals                                  2          31.5            875.0
Publishing                                   2          11.5            237.5
Consumer Electronics                         1          27.0           1000.0
Political Organization                       1          10.0            125.0
Printing / Packaging                         1          10.0            125.0
Industrial Products / Machinery              1          12.0            125.0
Facilities Services                          1           8.0            125.0
Oil & Gas / Infrastructure / Energy          1          36.0             30.0
Mining / Metals / Steel                      1          31.0            125.0
Import / Export / Trading                    1           2.0              5.0
Wholesale                                    1           4.0             30.0

In [218]:
df.Experince_level.value_counts()

Junior Level          280
Intermediate Level    193
Mid Senior Level       86
Senior                 48
Executive               7
Fresher                 4
Name: Experince_level, dtype: int64

In [219]:
df.Involvement=df.Involvement.str.split('→').str[0]

In [220]:
df.to_csv('dbtable')

In [221]:
# using dictionary to get the unique Location counts
dcta={}
for i in df.Location.str.split(','):
    for j in i:
        j=j.strip()
        if j not in dcta:
            dcta[j]=1
        else:
            dcta[j]+=1

In [222]:
dcta=pd.DataFrame.from_dict(dcta, orient='index',columns=['Cnt'])

In [223]:
dcta=dcta.sort_values(by='Cnt', ascending=False)
#dcta.to_csv('Location_Data')

In [229]:
dcta.reset_index().to_csv('Location_Data')

In [230]:
# using dictionary to get the unquie skills counts
dctb={}
for i in df.Skills.str.split(','):
    for j in i:
        j=j.strip()
        if j not in dctb:
            dctb[j]=1
        else:
            dctb[j]+=1

In [231]:
dctb=pd.DataFrame.from_dict(dctb, orient='index',columns=['Cnt'])

In [232]:
dctb=dctb.sort_values(by='Cnt', ascending=False)

In [233]:
dctb

                      Cnt
Sales                 329
Business Development  302
Direct Sales          169
Corporate Sales       150
International Sales   109
...                   ...
VAT                     1
Statutory Audit         1
HR Analytics            1
Shell Scripting         1
Sales Forecasting       1

[194 rows x 1 columns]

In [235]:
dctb.reset_index().to_csv('Skill_Data')